.*
!/.gitignore

CMakeCache.txt
CMakeFiles
MakeFile
cmake_install.cmake
bin
ITKIOFactoryRegistration
.DS_Store
CIPConfig.cmake
*.pyc
*-orig
*_orig
DartConfiguration.tcl
ChestConventions.so
wrap_ChestConventions.cpp
*18501*
*MC201*
cip_python/ChestConventions.so
cip_python/wrap_ChestConventions.cpp
MyInsideClass.*
Sandbox

Testing/Data/Input/CropLung_LeftLung_Test_ct.nrrd

Testing/Data/Input/CropLung_LeftLung_Test_lm.nrrd

Testing/Data/Input/CropLung_RightLung_Test_ct.nrrd

Testing/Data/Input/CropLung_RightLung_Test_lm.nrrd


